*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f2f2f2;
}

.header{
    background:#0b5d1e;
    color:#fff;
    text-align:center;
    padding:25px;
}

.header h1{
    font-size:36px;
}

.header p{
    margin-top:8px;
    font-size:18px;
}

.menu{
    background:#c62828;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.menu a{
    color:white;
    text-decoration:none;
    padding:15px 20px;
    font-weight:bold;
}

.menu a:hover{
    background:#8e0000;
}

.container{
    width:95%;
    max-width:1200px;
    margin:20px auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.card{
    background:white;
    border-radius:10px;
    padding:20px;
    box-shadow:0 4px 10px rgba(0,0,0,.15);
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    color:#c62828;
    margin-bottom:10px;
}

footer{
    background:#0b5d1e;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:30px;
    }

.breaking-news{
background:#ffeb3b;
padding:10px;
font-weight:bold;
color:#000;
}

.buttons{
display:flex;
justify-content:center;
gap:15px;
padding:15px;
flex-wrap:wrap;
}

.buttons a{
background:#0b5d1e;
color:white;
padding:10px 18px;
text-decoration:none;
border-radius:6px;
font-weight:bold;
}

.buttons a:hover{
background:#c62828;
    }
.card a{
display:inline-block;
margin-top:12px;
background:#c62828;
color:#fff;
padding:10px 15px;
text-decoration:none;
border-radius:5px;
font-weight:bold;
}

.card a:hover{
background:#0b5d1e;
}
