*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

/* Header */

.top-header{
    background:#8B0000;
    color:#fff;
    text-align:center;
    padding:20px;
}

.top-header h1{
    font-size:40px;
}

.top-header p{
    margin-top:8px;
}

/* Menu */

.menu{
    background:#003366;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
}

.menu a{
    color:#fff;
    text-decoration:none;
    padding:15px 20px;
    font-weight:bold;
}

.menu a:hover{
    background:#ffcc00;
    color:#000;
}

/* Breaking News */

.breaking-news{
    background:#ffeb3b;
    padding:10px;
    font-weight:bold;
}

/* Search */

.search-box{
    text-align:center;
    padding:20px;
    background:#fff;
}

.search-box input{
    width:60%;
    padding:12px;
    border:2px solid #003366;
}

.search-box button{
    padding:12px 20px;
    background:#8B0000;
    color:white;
    border:none;
    cursor:pointer;
}

.search-box button:hover{
    background:#003366;
}

/* Hero */

.hero{
    background:#fff;
    text-align:center;
    padding:30px;
}

/* Main */

.main-container{
    width:95%;
    margin:20px auto;
}

.row-box{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

.box{
    flex:1;
    min-width:300px;
    background:#fff;
    border:2px solid #8B0000;
}

.box h3{
    background:#8B0000;
    color:white;
    text-align:center;
    padding:12px;
}

.box ul{
    padding:20px;
}

.box li{
    margin:10px 0;
}

.box a{
    color:#003366;
    text-decoration:none;
    font-weight:bold;
}

.box a:hover{
    color:red;
}

/* Footer */

.footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:30px;
}

/* Mobile */

@media(max-width:768px){

.menu{
flex-direction:column;
}

.search-box input{
width:90%;
margin-bottom:10px;
}

.row-box{
flex-direction:column;
}

}
.quick-links{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:10px;
width:95%;
margin:20px auto;
}

.quick-links a{
background:#8B0000;
color:#fff;
text-align:center;
padding:15px;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}

.quick-links a:hover{
background:#003366;
}
.updates{
width:95%;
margin:30px auto;
background:white;
padding:20px;
border:2px solid #8B0000;
}

.updates h2{
background:#8B0000;
color:white;
padding:10px;
margin:-20px -20px 20px;
text-align:center;
}

.updates ul{
padding-left:20px;
}

.updates li{
margin:12px 0;
font-size:18px;
    }
@media(max-width:768px){

.quick-links{
grid-template-columns:repeat(2,1fr);
}

}
